@{
    var data = (PagingModel<List<dynamic>>)ViewData["DataList"]!;
}

@if (data != null)
{
    if (data.TotalRecords > 0)
    {
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Paging.cshtml", data)
            </div>
        </div>
    }
}

<table class="table table-head-fixed text-nowrap table-striped" id="_grid">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
        </tr>
        <tr>
            <th><input type="checkbox" id="checkAll" /></th>
            <th>&nbsp;</th>
            <th>NIK</th>
            <th>Name</th>
            <th>Periode</th>
            <th>No BPJS</th>
            <th>Basic Salary</th>
            <th>Fix Allowance</th>
            <th>Salary</th>
            <th>Class</th>
            <th>Base Calculation</th>
            <th>Iuran Company</th>
            <th>Iuran Employee</th>
            <th>Iuran BPJS</th>
        </tr>
    </thead>
    <tbody>
        @if (data != null)
        {
            if (data.Data.Count > 0)
            {
                foreach(var r in data.Data)
                {
                    <tr>
                        <td><input type="checkbox" data-key="@r.NIK|@r.Periode" class="checkboxes" /></td>
                        <td>
                            <a class="btn btn-primary btn-sm" id="btnDetail" href="javascript:void(0)" data-value="@r.NIK|@r.Name">
                                Detail
                            </a>
                        </td>
                        <td>@r.NIK</td>
                        <td>@r.Name</td>
                        <td>@r.Periode</td>
                        <td>@r.NoBPJS</td>
                        <td>@string.Format("{0:#,0.00}", r.BasicSalary)</td>
                        <td>@string.Format("{0:#,0.00}", r.FixAllowance)</td>
                        <td>@string.Format("{0:#,0.00}", r.Salary)</td>
                        <td>@r.Class</td>
                        <td>@((r.Salary > r.BaseCalculation) ? string.Format("{0:#,0.00}", r.BaseCalculation) : string.Format("{0:#,0.00}", r.Salary))</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranCompany)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranEmployee)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranBPJS)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="14" align="center"><b>Data Not Found</b></td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        var cn = "@data?.Data.Count";
        if (cn != "0") {
            $("#btnEdit").show();
            $("#btnDelete").show();
            $("#btnExport").show();
        } else {
            $("#btnEdit").hide();
            $("#btnDelete").hide();
            $("#btnExport").hide();
        }
    });
</script>