@{
    var data = (PagingModel<List<dynamic>>)ViewData["DataList"]!;
}

@if (data != null)
{
    if (data.TotalRecords > 0)
    {
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Paging.cshtml", data)
            </div>
        </div>
    }
}

<table class="table table-head-fixed text-nowrap table-striped" id="_grid">
    <thead>
        <tr>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
            <th><input type="text" class="form-control _searchCriteria" onkeypress="searchFilter(event)" /></th>
        </tr>
        <tr>
            <th>KPJ</th>
            <th>DOB</th>
            <th>Kep Awal</th>
            <th>Tgl Kepesertaan</th>
            <th>Name</th>
            <th>Basic Salary</th>
            <th>Allowance</th>
            <th>Salary</th>
            <th>Kenaikan</th>
            <th>Iuran JKK</th>
            <th>Iuran JKM</th>
            <th>Iuran JHT TK</th>
            <th>Iuran JHT Company</th>
            <th>Iuran JP Company</th>
            <th>Iuran JP TK</th>
            <th>Total Iuran</th>
        </tr>
    </thead>
    <tbody>
        @if (data != null)
        {
            if (data.Data.Count > 0)
            {
                foreach (var r in data.Data)
                {
                    <tr>
                        <td>@r.KPJ</td>
                        <td>@r.DOB</td>
                        <td>@((string.IsNullOrEmpty(r.KepAwal)) ? "" : Convert.ToDateTime(r.KepAwal).ToString("MM-yyyy"))</td>
                        <td>@r.KepAwal</td>
                        <td>@r.Name</td>
                        <td>@string.Format("{0:#,0.00}", r.BasicSalary)</td>
                        <td>@string.Format("{0:#,0.00}", r.Allowance)</td>
                        <td>@string.Format("{0:#,0.00}", r.Salary)</td>
                        <td>&nbsp;</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJKK)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJKM)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJHTTK)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJHTCompany)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJPCompany)</td>
                        <td>@string.Format("{0:#,0.00}", r.IuranJPTK)</td>
                        <td>@string.Format("{0:#,0.00}", r.TotalIuran)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="18" align="center"><b>Data Not Found</b></td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        var cn = "@data?.Data.Count";
        if (cn != "0") {
            $("#btnEdit").show();
            $("#btnDelete").show();
            $("#btnExport").show();
        } else {
            $("#btnEdit").hide();
            $("#btnDelete").hide();
            $("#btnExport").hide();
        }
    });
</script>